# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene" : 5 }

results = establishments.find(query)


# Use count_documents to display the number of documents in the result
count = establishments.count_documents((query))
print(f"Number of documents in the result: {count}\n")

# Display the first document in the results using pprint
pprint(results[0])

Number of documents in the result: 14002

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64bdf6e02837bccb234342b7'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

In [7]:
# Convert the result to a Pandas DataFrame
data = list(results)
hygienescore_df = pd.json_normalize(data)
# Display the number of rows in the DataFrame
print("Number of rows in the dataframe: ", len(hygienescore_df))

# Display the first 10 rows of the DataFrame
hygienescore_df.head(10)

Number of rows in the dataframe:  14002

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64bdf6e02837bccb234342b7,647177,0,PI/000041489,Wear Bay Bowls Club,Pub/bar/nightclub,7843,Wear Bay Road,Folkestone,Kent,...,1.196408,51.086058,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64bdf6e02837bccb234342ba,1043695,0,PI/000073616,The Pavilion,Restaurant/Cafe/Canteen,1,East Cliff Pavilion,Wear Bay Road,Folkestone,...,1.195625,51.083812,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64bdf6e02837bccb234342be,289352,0,PI/000002460,The Ship,Pub/bar/nightclub,7843,23 The Stade,Folkestone,Kent,...,1.188537,51.080840,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64bdf6e02837bccb234342c3,1043701,0,PI/000076360,Pick Up Pintxos,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64bdf6e02837bccb234342c4,805703,0,PI/000073221,That Burger - Harbour Arm,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,64bdf6e02837bccb234342ca,1495230,0,PI/000078175,Lobster & Burger,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,64bdf6e02837bccb234342cb,1058634,0,PI/000076448,Platform Three,Mobile caterer,7846,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,64bdf6e02837bccb234342cd,873838,0,PI/000074304,Hog & Hop - Harbour Arm,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,64bdf6e02837bccb234342ce,861820,0,PI/000074300,Waiting Room - Harbour Arm,Pub/bar/nightclub,7843,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,64bdf6e02837bccb234342d5,1138444,0,PI/000077128,Lucky Radish,Mobile caterer,7846,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.185903,51.078352,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={'LocalAuthorityName': {'$regex': "London"},
         "RatingValue" : {"$gte": 4},
        }

# Use count_documents to display the number of documents in the result

count = establishments.count_documents((query))
print(f"Number of documents in the result: {count}\n")

# Display the first document in the results using pprint
pprint(results[0])

Number of documents in the result: 33

InvalidOperation: cannot set options after executing query

In [12]:
# Convert the result to a Pandas DataFrame
data = list(results)
london_df = pd.json_normalize(data)
# Display the number of rows in the DataFrame

print("Number of rows in the dataframe: ", len(london_df))

# Display the first 10 rows of the DataFrame
london_df.head(10)

Number of rows in the dataframe:  0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [13]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0

match_query = {'$match': {"scores.Hygiene" : 5}}


# 2. Groups the matches by Local Authority

group_query = {'$group': {'_id': {"LocalAuthorityName": "$LocalAuthorityName"},
                           'count': { '$sum': 1 }
                           }}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number of documents in result: ", len(results))


# Print the first 10 results
pprint(results[0:10])

Number of documents in result:  60
[{'_id': {'LocalAuthorityName': 'Redbridge'}, 'count': 964},
 {'_id': {'LocalAuthorityName': 'Wealden'}, 'count': 839},
 {'_id': {'LocalAuthorityName': 'Canterbury City'}, 'count': 750},
 {'_id': {'LocalAuthorityName': 'Rother'}, 'count': 664},
 {'_id': {'LocalAuthorityName': 'Newham'}, 'count': 662},
 {'_id': {'LocalAuthorityName': 'Havering'}, 'count': 621},
 {'_id': {'LocalAuthorityName': 'Colchester'}, 'count': 566},
 {'_id': {'LocalAuthorityName': 'Southend-On-Sea'}, 'count': 542},
 {'_id': {'LocalAuthorityName': 'Epping Forest'}, 'count': 539},
 {'_id': {'LocalAuthorityName': 'Bromley'}, 'count': 488}]

In [14]:
# Convert the result to a Pandas DataFrame
data = list(results)
low_hygiene_score_df = pd.json_normalize(data)


# Display the number of rows in the DataFrame
print("Number of rows in the dataframe: ", len(low_hygiene_score_df))



# Display the first 10 rows of the DataFrame
low_hygiene_score_df.head(10)

Number of rows in the dataframe:  60

   count _id.LocalAuthorityName
0    964              Redbridge
1    839                Wealden
2    750        Canterbury City
3    664                 Rother
4    662                 Newham
5    621               Havering
6    566             Colchester
7    542        Southend-On-Sea
8    539          Epping Forest
9    488                Bromley